<h1>Task</h1>

<h3><%= @task.name %></h3>
<p><%= @task.detail %></p>


<p><%= link_to 'edit', edit_task_path(@task) %>
<%= link_to 'delete', task_path(@task),
            method: :delete,
            data: {confirm: "Are you sure?"}  %>
<%= link_to 'all tasks', tasks_path(@task)%></p>
